{
  "babelrc": false,
  "presets": [
    "react"
  ],
  "plugins": [
    "syntax-trailing-function-commas",
    "transform-async-to-generator",
    "transform-class-properties",
    "transform-object-rest-spread",
    "transform-es2015-parameters",
    "transform-es2015-destructuring",
    "jsx-control-statements",
    "transform-decorators-legacy"
  ],
  "env": {
    "test": {
      "presets": []
    },
    "development": {
      "plugins": [
        "react-hot-loader/babel"
      ]
    }
  }
}
