{
  "presets": [
    "es2015-webpack",
    "react-hmre",
    "react"
  ],
  "plugins": [
    "jsx-control-statements",
    "transform-object-rest-spread",
    "transform-class-properties",
    "transform-decorators-legacy"
  ]
}
