{
  "stage": 0,
  "optional": [
    "es7.decorators"
  ],
  "plugins": [],
  "env": {
    "development": {
      "plugins": [
        "react-transform"
      ],
      "extra": {
        "react-transform": {
          "transforms": [
            {
              "transform": "react-transform-hmr",
              "imports": [
                "react"
              ],
              "locals": [
                "module"
              ]
            }
          ]
        }
      }
    }
  }
}
