{
  "parser": "babel-eslint",
  "settings": {
    "ecmascript": 6,
    "jsx": true
  },
  "globals": {
    "If": true,
    "Else": true,
    "__DEV__": true,
    "__CONFIG__": true,
    "__APPPATH__": true,
    "__VERSION__": true
  },
  "env": {
    "amd": true,
    "jasmine": true,
    "mocha": true,
    "node": true,
    "es6": true,
    "browser": true
  },
  "ecmaFeatures": {
    "arrowFunctions": true,
    "binaryLiterals": true,
    "blockBindings": true,
    "classes": true,
    "defaultParams": true,
    "destructuring": true,
    "forOf": true,
    "generators": true,
    "modules": true,
    "objectLiteralComputedProperties": true,
    "objectLiteralDuplicateProperties": true,
    "objectLiteralShorthandMethods": true,
    "objectLiteralShorthandProperties": true,
    "octalLiterals": true,
    "regexUFlag": true,
    "regexYFlag": true,
    "restParams": true,
    "spread": true,
    "superInFunctions": true,
    "templateStrings": true,
    "unicodeCodePointEscapes": true,
    "globalReturn": true,
    "jsx": true
  },
  "rules": {
    "no-alert": 1,
    "curly": [2, "multi-line"],
    "semi": 2,
    "strict": 0,
    "no-empty": 0,
    "no-loop-func": 0,
    "no-unused-vars": 1,
    "no-undef": 0,
    "no-mixed-spaces-and-tabs": [2, "smart-tabs"],
    "no-multi-spaces": [0],
    "quotes": [1, "single"],
    "key-spacing": [0, {"align": "value"}],
    "no-underscore-dangle": 0,
    "max-params": [1, 4],
    "max-depth": [1, 3],
    "complexity": [1, 4],
    "block-scoped-var": 1,
    "max-nested-callbacks": [2, 3],
    "react/display-name": 0,
    "react/jsx-boolean-value": 1,
    "react/jsx-curly-spacing": 0,
    "react/jsx-no-undef": 1,
    "react/jsx-quotes": 1,
    "react/jsx-sort-prop-types": 0,
    "react/jsx-sort-props": 0,
    "react/jsx-uses-react": 1,
    "react/jsx-uses-vars": 1,
    "react/no-did-mount-set-state": 1,
    "react/no-did-update-set-state": 1,
    "react/no-multi-comp": 1,
    "react/no-unknown-property": 1,
    "react/prop-types": 1,
    "react/react-in-jsx-scope": 0,
    "react/self-closing-comp": 1,
    "react/sort-comp": 1,
    "react/wrap-multilines": 1
  },
  "plugins": [
    "react"
  ]
}
