@import "variables";

.badge {
	float:            right;
	font-size:        12px;
	color:            darken(@mainBorderColor, 25%);
	display:          inline-block;
	background-color: lighten(@mainBorderColor, 5%);
	border-radius:    2px;
	width:            20px;
	height:           20px;
	line-height:      20px;
	text-align:       center;
}

.header {
	font-weight:    normal;
	color:          darken(@mainBorderColor, 30%);
	text-transform: uppercase;
	margin-top:     0;
	font-size:      13px;
}

.codePart {
	font-family:      Hack, Menlo;
	border:           1px solid @mainBorderColor;
	padding:          2px 5px;
	font-size:        11px;
	border-radius:    3px;
	background-color: lighten(@mainBorderColor, 5%);
}
