@import "./variables";

.root {
	width:           100%;
	display:         flex;
	align-content:   stretch;
	flex-direction:  column;
	justify-content: space-between;
}

.top {
	height:        @topHeight;
	border-bottom: 1px solid @mainBorderColor;
}

.bottom {
	flex:            1;
	display:         flex;
	align-content:   stretch;
	justify-content: space-between;
	//overflow:        hidden;
	//height:          100%;
}

/* inside -> .bottom */
.sidebar {
	background:   @secondaryBackgroundColor;
	width:        @sidebarWidth;
	border-right: 1px solid @mainBorderColor;
	height:       auto;
	flex:         0 0 auto;
	overflow:     scroll;
}

.main {
	flex:            1;
	display:         flex;
	align-content:   stretch;
	justify-content: space-between;
}

/* inside -> .main */
.left {
	flex:            1;
	display:         flex;
	align-content:   stretch;
	flex-direction:  column;
	justify-content: space-between;
	border-right:    1px solid @mainBorderColor;
}

.right {
	flex:            1;
	display:         flex;
	align-content:   stretch;
	flex-direction:  column;
	justify-content: space-between;
}

/* inside -> .left */
.preview { }

.markup { }

.editor { }

/* inside -> .right */
.spec { }

.doc { }

.box {
	flex:          1;
	border-bottom: 1px solid @mainBorderColor;
}
